<a href="https://colab.research.google.com/github/anshatwork-007/Study-On-Lists/blob/main/Eperiment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Name: Ansh Yadav
# Branch: ENTC
# Batch: 2025-29
# Experiment 3

## Title: Operations On List

In [2]:
# Python Lists
Fruits_list = ["apple, 'banana", 'cherry']
print(Fruits_list)

["apple, 'banana", 'cherry']

In [4]:
# List title
# List items are duplicatable, ordered and changeable
# Allow duplicates
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [7]:
# List length
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

thislist2 = ["apple", "banana", "cherry", "apple", "cherry"]
print(len(thislist2))

3
5

In [21]:
# A List with string, integers, boolean values,(dont need to use print here only takes the code variable)
list1 = ["abc", 34, True, 40, "male", 20.5, 3+2j]
list2 = [1, 5, 7, 9, 3]
list2
list1

['abc', 34, True, 40, 'male', 20.5, (3+2j)]

In [22]:
# Acces Items(always starts with 0 & always starts from left)
thislist = ["bob", "einstein", "trump"]
print(thislist[1])
print(thislist[0])

einstein
bob

In [27]:
# Reverse/negative Indexing(starts from last item, from left side & always sta=rts from -1 which is the last item)
thislist = ["bob", "einstein", "trump", "kanye", "ashish"]
print(thislist[-1])
print(thislist[-3])

ashish
trump

In [45]:
# Slicing(always take the first number but not the last number like if from 1:5 it will take 1 item not 5)
mylist = ["apple", "banana", "cherry", "on", "top", "melon", "mango"]
print(mylist[2:5])
print(mylist[-6:-1])
print(mylist[-7:])
print(mylist[1:49])

['cherry', 'on', 'top']
['banana', 'cherry', 'on', 'top', 'melon']
['apple', 'banana', 'cherry', 'on', 'top', 'melon', 'mango']
['banana', 'cherry', 'on', 'top', 'melon', 'mango']

In [49]:
# Change itme Values
mylist = ["apple", "banana", "cherry"]
mylist[1] = "blackcurrant"
mylist[-1] = "hi"
print(mylist)

['apple', 'blackcurrant', 'hi']

In [51]:
# Append items(adds item in the end)
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [54]:
# Insert Items
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
thislist.insert(-2, "mango")
print(thislist)

['apple', 'orange', 'mango', 'banana', 'cherry']

In [57]:
# Extend list
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [58]:
# Length of the list
n = len([3,4,5,6,7,8,9])
n

7

In [61]:
# Searching items
8 in [4,5,6,7,9]

False

In [62]:
# Repetition
list = (' -Symbi- ')*6
list

' -Symbi-  -Symbi-  -Symbi-  -Symbi-  -Symbi-  -Symbi- '

In [75]:
# Question 1
marks = [78, 85, 90, 66, 88]
# Maximum Numbers
print(max(marks))
# Minimum Numbers
print(min(marks))
# Total marks
print(sum(marks))
# No. of students
print(len(marks))
# Calculate avg marks
print(sum(marks)/len(marks))
# Sort marks in ascending numbers
marks.sort()
print(marks)
# Sort marks in descending numbers
marks.sort(reverse=True)
print(marks)

90
66
407
5
81.4
[66, 78, 85, 88, 90]
[90, 88, 85, 78, 66]

In [82]:
# Grocery Shopping list
print("Grocery shopping list")
Grocery = ["Eggs", "milk", "tomato", "Paneer", "chicken"]
# Append itmem
Grocery.append("orange")
# Remove Item
Grocery.remove("Paneer")
# Print final list
print(Grocery)

Grocery shopping list
['Eggs', 'milk', 'tomato', 'chicken', 'orange']

In [88]:
# Temperature analysis
print("Temperature Analysis in celcius")
temp = [17, 14, 20, 30, 26, 40, 21, 31, 25, 10]
# Display temp of last 5 days and first 5 days
print("First 5 days:",temp[:5])
print("Last 5 days:",temp[-5:])
# Find highest and lowest temp
print("Highest Temperature:",max(temp))
print("Lowest Temperature:",min(temp))
# calculate avg temp
print("Average temperature:",sum(temp)/len(temp))

Temperature Analysis in celcius
First 5 days: [17, 14, 20, 30, 26]
Last 5 days: [40, 21, 31, 25, 10]
Highest Temperature: 40
Lowest Temperature: 10
Average temperature: 23.4

In [8]:
# slicing but when there are 3 numbers in':' then the first 2 numbers define the range and the third number defines the step like the gap
list1 = [10, 20, 30, 40, 50, 60]
print(list1[1:3])
print(list1[1:3:1])
print(list1[2:5:2])
print(list1[1:4:3])
print(list1[1:3:-1])
print(list1[-1:3:1])
print(list1[-1:-3:-1])

[20, 30]
[20, 30]
[30, 50]
[20]
[]
[]
[60, 50]

In [12]:
# Daily Expense tracker
print("Daily Expense Tracker")
dext = [2340, 3040, 4678, 2500, 4467, 5872]
# Total
print("Total Expenditure:", sum(dext))
# Average
print("Average Expenditure:", sum(dext)/len(dext))
# Max
print("Highest Expenditure:", max(dext))
# Min
print("Lowest Expenditure:", min(dext))

Daily Expense Tracker
Total Expenditure: 22897
Average Expenditure: 3816.1666666666665
Highest Expenditure: 5872
Lowest Expenditure: 2340